{% extends 'home.html' %} {% block content %}
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  "
>
<style>

  #prediction {
      width: 50vw;
  }

  @media only screen and (max-width: 600px) {
      #prediction {
        width: 300px;
      }
    }

</style>
  <p style="margin:3px 0">Entities:</p>

  <div id="prediction" style="display: flex; flex-wrap: wrap; flex-direction: row; align-items:flex-end">
  {% for i, tag in pred %}

  <div style="display: flex; flex-direction: column; ">
  {% if tag!="O" %} <span style="text-transform: uppercase; color:{% if tag!="O" %}{{colors[tag]}}{% endif %}; background:#fff; padding: 3px; position: relative; height: fit-content; width: fit-content; border-radius:5px; font-size:0.9em; top:0; transform: translate(0px, 5px)">{{tag}}</span>{% endif %}
  <p style="text-align: left; color: {% if tag!="O" %}{{colors[tag]}}{% endif %}; font-weight: {% if tag!="O" %}600 {% else %}500{% endif %}; padding:{% if tag!="O" %}5px 10px{%else%}10px 0 5px 0{% endif %};background:{% if tag!="O" %}{{colors[tag]+"55"}}{% endif %}; margin:{% if tag!="O" %}0{%else%}0 10px{% endif %};  border-radius: 10px;">
    {{tokens[i]}}
  </p>
</div>

  {% endfor %}
</div>
</div>
{%endblock%}
